<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InventarioServlet</servlet-name>
        <servlet-class>Servlet.InventarioServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ProductoServlet</servlet-name>
        <servlet-class>Servlet.ProductoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductoServlet</servlet-name>
        <url-pattern>/ProductoServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CompraServlet</servlet-name>
        <servlet-class>Servlet.CompraServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CompraServlet</servlet-name>
        <url-pattern>/CompraServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>VentaServlet</servlet-name>
        <servlet-class>Servlet.VentaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VentaServlet</servlet-name>
        <url-pattern>/VentaServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AgregarProductoServlet</servlet-name>
        <servlet-class>Servlet.AgregarProductoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AgregarProductoServlet</servlet-name>
        <url-pattern>/AgregarProductoServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EliminarProductoServlet</servlet-name>
        <servlet-class>Servlet.EliminarProductoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EliminarProductoServlet</servlet-name>
        <url-pattern>/EliminarProductoServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EditarProductoServlet</servlet-name>
        <servlet-class>Servlet.EditarProductoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditarProductoServlet</servlet-name>
        <url-pattern>/EditarProductoServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ObtenerProductoServlet</servlet-name>
        <servlet-class>Servlet.ObtenerProductoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ObtenerProductoServlet</servlet-name>
        <url-pattern>/ObtenerProductoServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ObtenerInventarioServlet</servlet-name>
        <servlet-class>Servlet.ObtenerInventarioServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ObtenerInventarioServlet</servlet-name>
        <url-pattern>/ObtenerInventarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InventarioServlet</servlet-name>
        <url-pattern>/InventarioServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ReporteServlet</servlet-name>
        <servlet-class>Servlet.ReporteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReporteServlet</servlet-name>
        <url-pattern>/ReporteServlet</url-pattern>
    </servlet-mapping>
    <!-- Configuración del servlet ProveedoresServlet -->
    <servlet>
        <servlet-name>ProveedoresServlet</servlet-name>
        <servlet-class>Servlet.ProveedoresServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProveedoresServlet</servlet-name>
        <url-pattern>/ProveedoresServlet</url-pattern>
    </servlet-mapping>

    <!-- Configuración del servlet ClientesServlet -->
    <servlet>
        <servlet-name>ClientesServlet</servlet-name>
        <servlet-class>Servlet.ClientesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClientesServlet</servlet-name>
        <url-pattern>/ClientesServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
</web-app>
